/* ==================== INDEX =================== */
/*      1. Font Faces                             */
/*      2. Overall Setup                          */
/*       - 2.1 Link styling                       */
/*      3. Index Setup                            */
/*      4. Projects Setup                         */
/*      5. About me Setup                         */
/*      6. Contact Setup                          */
/*      7. Impressum                              */
/* ============================================== */
/* Farbpalette: #202020 #FF5800 #86513A #FFE7D4   */
/* ============================================== */
/**/
/**/
/* ==================== 1. Font Faces ==================== */
/* lexend-mega-100 - latin */
@font-face {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 100;
  src: local(''),
    url('../fonts/lexend-mega-v20-latin-100.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lexend-mega-v20-latin-100.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-mega-regular - latin */
@font-face {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/lexend-mega-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lexend-mega-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comforter-regular - latin */
@font-face {
  font-family: 'Comforter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/comforter-v3-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/comforter-v3-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ==================== 2. Overall Setup ==================== */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 100vh;
}

body {
  margin: 0;
  font-size: 16px;
}

::selection {
  color: #000;
  background-color: #fff;
}

/* ==================== 2.1 Link styling ==================== */
a:link {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

/* ==================== 3. Index Setup ==================== */
.mainheader {
  background-color: #101010;
  color: #FF5800;
  position: relative;
  width: 100%;
  height: 101vh;
  font-family: 'Lexend Mega';
  font-weight: 400;
}

.mainheader>ul {
  display: inline-block;
  position: absolute;
  list-style: none;
  bottom: 1rem;
  margin: 0;
  padding: 0;
  font-size: 6vw;
}

.mainheader>ul>li:hover {
  background-color: #303030;
  padding-bottom: 3rem;
  font-size: 7vw;
  padding-top: 40px;
}

.mainheader>svg {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

/* ==================== 4. Projects Setup ==================== */
.projects {
  background-color: #FF5800;
  color: #101010;
  position: relative;
  width: 100%;
  height: 101vh;
  font-family: 'Lexend Mega';
  font-weight: 400;
}

.projects>h1 {
  position: absolute;
  left: 2vw;
  margin: 0;
  font-family: 'Comforter';
  font-size: 20vh;
  text-decoration: underline;
}

#latestWork>a {
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 11vw;
}

.projects>div>a {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 22%;
  right: 0;
}

#projects {
  display: inline-block;
  position: absolute;
  list-style: none;
  bottom: 1px;
  margin: 0;
  padding: 0;
}

.projects>a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* ==================== 5. About me Setup ==================== */
.aboutme {
  background-color: #101010;
  color: #FF5800;
  position: relative;
  width: 100%;
  height: 101vh;
  font-family: 'Lexend Mega';
  font-weight: 400;
}

#aboutme {
  display: inline-block;
  position: absolute;
  list-style: none;
  bottom: 1px;
  margin: 0;
  padding: 0;
}

.aboutme>h1 {
  font-family: 'Comforter';
  font-size: 20vh;
  text-decoration: underline;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  color: F #FFF;
}

.aboutme>h3 {
  padding-left: 50px;
  margin: 0;
}

.aboutme>h6 {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 12px;
}

.aboutme>div {
  position: absolute;
  display: block;
  padding-left: 50px;
  margin-bottom: 10px;
}

.aboutme>a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* ==================== 6. Contact Setup ==================== */
.contact {
  background-color: #FF5800;
  color: #101010;
  position: relative;
  width: 100%;
  height: 101vh;
  font-family: 'Lexend Mega';
  font-weight: 400;
}

#contact {
  display: inline-block;
  position: absolute;
  list-style: none;
  bottom: 1px;
  margin: 0;
  padding: 0;
}

.contact>a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* ==================== 7. Impressum ==================== */
.impressum {
  background-color: #101010;
  color: #FF5800;
  position: relative;
  width: 100%;
  height: 20vh;
  font-family: 'Lexend Mega';
  font-weight: 400;
}

.impressum>ul{
  position: absolute;
  left: 15vw;
  top: 7vh;
  list-style: none;
  text-align: center;
  padding: 0;
}

.impressum>ul>li{
  display: inline;
  padding-right: 30px;
  padding-left: 30px;
  border-right: 1px solid #FFF;
}

.impressum>ul>li:last-child {
  border-right: none;
}

#impressum {
  display: inline-block;
  position: absolute;
  list-style: none;
  bottom: 1px;
  margin: 0;
  padding: 0;
}
